{% extends ':app:base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        {% if app.user %}
            {{ form(addCommentType, {'action': url('example_2_comment_add')}) }}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Comments</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>
                                    {{ comment.message }}
                                    {% if app.user and (is_granted('ROLE_ADMIN') or comment.user.username == app.user.username) %}
                                        <div class="btn-group pull-right" role="group">
                                            <a class="btn btn-primary" href="{{ path('example_2_comment_remove', {'id': comment.id}) }}">Remove</a>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}